/*
To make things easier, some colours have been prepared as CSS variables. Whether or not you use them as such is up to you.
*/
:root {
  --baywa-color-primary: #0F8345;
  --baywa-color-primary-hover: #006F3B;
  --baywa-color-light-grey: #F4F4F4;
  --baywa-color-grey: #808080;
  --baywa-color-dark: #333;
  --baywa-breapoint-small: 400px;
  --baywa-width-maximum: 1200px;
}
